<div class="container mt-5">
  <h1>Tarefas</h1>

  <div id="tasks">
    <%= render "tasks/tasks" %>
  </div>

  <hr>
  <%= turbo_frame_tag id="nova" do %>
    <%= link_to new_task_path do %>
      <i class="fa-solid fa-plus fa-bounce" style="color: #217BA8;"></i> Nova tarefa
    <% end %>
  <% end %>
</div>
