<div class="projects">
	<% @projects.each do |project| %>
		<h4><i class="fa-solid fa-helmet-safety fa-beat-fade" style="color: #7fa9f0;"></i><%= link_to project.name, project_path(project) %></h4>
	<% end %>
</div>